.landing-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px 10px 5px;
  background: white;
  height: 35px;
  border-bottom: 2px solid gray;
  button {
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 2px;
    padding: 8px 12px;
    box-shadow: 0;
    box-sizing: border-box;
    border: 1px solid #287fb8;
    background: white;
    font-weight: 400;
    &:hover {
      background: #61B3FF;
    }
  }
}

.landing-header-left {
  display: flex;
  align-items: center;
}

#landing-splash {
  width: 100%;
}

input[type=submit] {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border: 1px solid blue;
  background: white;
  letter-spacing: .3px;
  font-weight: 150;
}

.splash-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    color: white;
  }
  h3 {
    font-size: 30px;
  }
}
.bg-image-wrapper {
  width: 100%;
  display: flex;

  align-items: center;
  padding-left: 60px;
  h1 {
    color: white;
    letter-spacing: 1px;
    font-weight: 200;
  }
}


.x-box {
  position: absolute;
  right: 20px;
  top: 10px;
  opacity: 50%;
}

.testimonial1-main {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  background-position: 50% 80px;
  background-size: 90%;
  box-sizing: border-box;
  align-items: center;
  height: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 60px;
  margin-right: 60px;

  button {
    border: none;
    height: 45px;
    border-radius: 3px;
    background: #61B3FF;
    color: white;
    font-weight: normal;
    font-size: 20px;
    padding: 10px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.test-mod-left {
  width: 90%;
  padding: 40px 20px 20px;

  h1 {
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 56px;
  }
}
.test-mod-right {
  width: 90%;
  padding: 40px 20px 20px;

  h1 {
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 56px;
  }
}
.testimonial2-main {
  width: 90%;
  display: flex;
  align-items: center;
  height: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 60px;
  margin-right: 60px;
  button {
    border: none;
    height: 45px;
    border-radius: 3px;
    background: #61B3FF;
    color: white;
    font-weight: normal;
    font-size: 20px;
    padding: 10px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.testimonial-content-right {
  height: 600px;
  width: 450px;
  position: absolute;
  right: 90px;
  background: white;
  // border: 1px solid blue;
  // margin: 30px;
  padding:  10px;
  box-sizing: border-box;

}
.testimonial-content-left {
  height: 600px;
  width: 450px;
  position: absolute;
  left: 90px;
  background: white;
  // border: 1px solid blue;
  // margin: 30px;
  padding:  10px;

}

.testimonial-header {
  color: #929dad;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding-top: 45px;
  text-align: center;
  text-transform: uppercase;
}

.testimonial-images {
    margin: 0 auto 0.5em;
    margin: 0 auto 0.5rem;
    text-align: left;
    width: 90%;
}

.testimonial-image {
  margin-bottom: 40px;
  text-align: center;
  display: block;
}

.testimonial-headshot {
  width: 100px;
  height: 100px;
  border: 4px solid #EAECEE;
  border-radius: 50px;
  box-sizing: content-box;
}

.testimonial-subtitle {
  color: #929dad;
  font-size: 14px;
  text-align: center;
}

.testimonial-text {
  color: #34495e;
  text-align: center;
}

#how-it-works {
  max-width: 350px;
  h4 {
    text-align: center;
    font-weight: 200;
  }
}
