
#loading-smurf-container {
  width: 50vw;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25vh;
  left: 25vw;
  z-index: 10;
}


#loading-smurf {
  background-image: url('https://res.cloudinary.com/couchsmurfing/image/upload/v1490374984/papa_smurf_head_only_iabpoh.png');
  height: 100%;
  width: 90%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-animation: spin 1.5s infinite;
  animation: spin 1.5s infinite;
}


@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotateX(0deg) rotate(0deg);
    }
    // 50% {
    //   -webkit-transform: rotateX(360deg) rotate(-180deg);
    // }
    // 100% {
    //   -webkit-transform: rotateX(0deg) rotate(720deg);
    // }
}

@keyframes spin {
    0% {
      transform: rotateX(0deg) rotate(0deg);
    }
    // 50% {
    //   transform: rotateX(360deg) rotate(-180deg);
    // }
    // 100% {
    //   transform: rotateX(0deg) rotate(720deg);
    // }
}
