// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.review-form-wrapper {
  // min-height: 500px;
  min-width: 450px;
  height: auto;
}

.success-modal {
  font-size: 20px;
  font-weight: bold;
}
