// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-main-view {
  display: block;
  margin: 0 auto;
  width: 100%;
  background: #ECF0F1;
}

.user-view-content {
  display: flex;
  width: 100%;
  flex-flow: row;
  flex-wrap: wrap;

}


.user-card {
  margin: 30px;
  width: 300px;
  max-width: 300px;
  height: 400px;
  max-height: 500px;
  border: 1px solid blue;
}

.cities-user-view {
  min-height: 300px;
  width: 60%;
  min-width: 300px;
  border: 1px solid blue;
}

.user-dropdown {
  width: 250px;
  min-height: 400px;

}

.dropdown-image-wrapper {
  border: 1px solid blue;
}

.dropdown-image {
  position: absolute;
  top: 30px;
  right: 30px;
  border: 2px solid gray;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  }
