/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */
 @import "defaults.scss";
 @import "util.scss";
 @import "mods.scss";
 @import "api/header.scss";
 @import "api/sessions.scss";
 @import "api/landing-view.scss";
 @import "api/user-dropdown.scss";
 @import "api/users.scss";
 @import "api/search.scss";
 @import "api/cities.scss";
 @import "api/hosts.scss";
 @import "api/requests.scss";
 @import "api/reviews.scss";

 body {

   font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 }
 html {
  //  font-weight: lighter;
   font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 }
 button {
   font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: lighter;
   letter-spacing: .25px;
   outline: none;

   box-shadow: none;
   // height: 50px;
   // width: 150px;
   //
  //  background-color: #287fb8;
  //  border: 1px solid #287fb8;
  //  border-radius: 3px;
  //  color: white;
  //  cursor: pointer;
  //  display: inline-block;
  //  font-size: 15px;
  //  font-weight: bold;
  //  line-height: 1.5;
  //  max-width: 240px;
  //  min-width: 6em;
  //  padding: 8px 12px;
  //  text-align: center;
  //  text-decoration: none;
  //  -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
  //  transition: background-color 0.3s ease, border-color 0.3s ease;
  //  white-space: normal;
  //  -moz-appearance: none;
  //  -webkit-appearance: none;
  //  -webkit-font-smoothing: antialiased;
  //  &:hover {
  //    background-color: #2371a3;
  //    border: 1px solid #2371a3;
   //
  //  }


 }
 input {
   outline: none;
 }

 .hidden {
	display: none;
}



 .main-view {
   display: block;
   margin: 0 auto;
   width: 100%;
   background: #ECF0F1;
   margin-top: 62px;
   /*border: 1px solid blue;*/
 }
