ol, ul {
    list-style-type: none;
    margin: 0 0 0em 0;
    padding: 0;
}

a:focus, a:hover, a.is-selected {
    color: #ed6504;
    // text-decoration: underline;
}

ul li:last-child {
    margin-bottom: 0;
}

ul:last-child {
    margin-bottom: 0;
}

ol>li, ul>li {
    margin-bottom: 0.75em;
}

h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
