.landing-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px 10px 5px;
  background: white;
  height: 35px;
  border: 1px solid blue;
  button {
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 2px;
    padding: 8px 12px;
    box-shadow: 0;
    box-sizing: border-box;
    border: 1px solid #287fb8;
    background: white;
    font-weight: 400;
  }
  
}

#landing-splash {
  width: 100%;
}
