.landing-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px 10px 5px;
  background: white;
  height: 35px;
  border-bottom: 2px solid gray;
  button {
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 2px;
    padding: 8px 12px;
    box-shadow: 0;
    box-sizing: border-box;
    border: 1px solid #287fb8;
    background: white;
    font-weight: 400;
    &:hover {
      background: #61B3FF;
    }
  }

}

.landing-header-left {
  display: flex;
  align-items: center;
}

#landing-splash {
  width: 100%;
}

.bg-image-wrapper {
  // background: linear-gradient(rgba(0, 0, 0, 0.45),
  //  rgba(0, 0, 0, 0.45)),
  //   url(http://res.cloudinary.com/couchsmurfing/image/upload/v1489604611/care-bears-banner_qdmud7.jpg);
  // width: 100%;
  // background-size: cover;
  // height: 500px;
}
.bg-image {
  width: 100%;
}


.x-box {
  position: absolute;
  right: 20px;
  top: 10px;
  opacity: 50%;
}

.testimonial-main {
  height: auto;
  margin: 40px;
  border: 1px solid blue;
}

.testimonial-content {
  height: 600px;
  width: 250px;
  position: absolute;
  right: 50px;
}
