.landing-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px 10px 5px;
  background: white;
  height: 35px;
  border-bottom: 2px solid gray;
  button {
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 2px;
    padding: 8px 12px;
    box-shadow: 0;
    box-sizing: border-box;
    border: 1px solid #287fb8;
    background: white;
    font-weight: 400;
    &:hover {
      background: #61B3FF;
    }
  }

}

.landing-header-left {
  display: flex;
  align-items: center;
}

#landing-splash {
  width: 100%;
}

.bg-image-wrapper {
  opacity: 0.4;
  filter: alpha(opacity=40);
  background: linear-gradient(rgba(0, 0, 0, 0.498039), rgba(0, 0, 0, 0.498039));
  background-color: #000;
}
.bg-image {
  width: 100%
}

.x-box {
  position: absolute;
  right: 20px;
  top: 10px;
  opacity: 50%;
}

.testimonial-main {
  height: auto;
  margin: 40px;
  border: 1px solid blue;
}
